<h1>Avatar: The Database</h1>
<h2>Search for Characters of the Avatar database</h2>
<form class="form-horizontal episode">
  <input id="name_search" class="col-sm-10" type="text">
  <button class="search btn btn-submit">Search</button>
</form>
<h3>Search Results:</h3>
<ul class="search_results"></ul>
<div id="characters"></div>
<div id="nations"></div>
<div id="combats"></div>
<div id="series"></div>
